body {
  margin: 0;
  background-color: #fff;
  color: #333;
  font: normal 16px/1.5 "Book Antiqua", "Times New Roman", serif;
}

/*--- Основные секции ---*/

/*-- Header --*/
header {
  background: linear-gradient(to right,  rgb(0,0,0) 65%, rgb(0,0, 255) 80%);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  /*width: 100%;*/
  z-index: 999;
}

#logo {
  height: 50px;
  margin: 5px;
  margin-left: 3%;
  text-align: center;
  flex: 0 1 100px;
  position: relative;
}

#main-nav {
  flex: 1 1 auto;
  align-self: flex-end;
  text-align: right;
}


/*-- Section and articles --*/
section {
  margin-top: 64px;
  padding: 2%;
}
.ornament {
  background: linear-gradient(to right,  rgb(0,0,0) 55%, rgb(0,0, 255) 75%);
  height: 3px;
}
.article {
  padding: 2%;
  text-align: justify;
}
.main-page {
  padding: 2%;
  text-align: center;
}

#blog-header {
  text-align: center;
  margin: 0;
}

footer {
  background: linear-gradient(to right,  rgb(0,0,0) 65%, rgb(0,0, 255) 80%);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}
/*--- Логотип ---*/

#a {
  background-color: rgba(255,255,0,1);
  color: #000;
  font: normal 1.5em/2  "Book Antiqua", "Times New Roman", serif;
  display:inline-block;
  width: 48px;
  height:auto;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 9px;

}
#r {
  background-color: rgba(0,0,255,0.8);
  color: #fff;
  font: normal 1.5em/2  "Book Antiqua", "Times New Roman", serif;
  display:inline-block;
  width: 48px;
  height:auto;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  right: 9px;
}


/*--- Шрифты ---*/

/*- Font for header -*/
h2  {
  font: italic 500 1.7em/2 "Gabriola", "Monotype Corsiva", "cursive";
}

/*- fonts for section and articles -*/
h1 {
  font-size: 2em;
}
#welcome-words {
  font-size: 3em;
}
#about h1 {
  text-align: center;
}
h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.5em;
}

p {
  font-size: 1.2em;
  /*text-indent: 15px;*/
}
time {
  color: #888;
  font-size: 14px;
}
/*- fonts for footer -*/
#main-footer p {
  font-size: 1em;
}
h5 {
  font: 300 0.9em/1.2 serif;

}
h5:hover {
  color: #ffff00;
}


/*--- Навигация и списки ---*/

ul {
  margin: 0;
}
.article li {
  font-size: 1.2em;
}
#main-nav li {
  list-style: none;
  display: inline;
  margin-right: 30px;
  cursor: pointer;
	font: 600 0.9em/1.2 'Segoe UI', 'Calibri', sans-serif;
}

#main-nav li:last-child {
  margin-right: 5%;
}

/*--- Ссылки ---*/
#main-nav a {
  color: #fff;
}
#main-footer a {
  color: #fff;
}
#main-footer a:hover {
  color: #ffff00;
}
a {
  text-decoration: none;
  color: #00f;
}
a:visited {
  color: #007dff;
}

/*--- Icons ---*/

.fa-2x {
  margin: 0 10px;
}

/************* Settings for smallest screens ---------------*/

@media screen and (max-width:768px) {
  body {
    font-size: 14px;
  }
  header {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  #logo {
    width: 100px;
    flex: 0 1 auto;
    margin-left: 0;
  }
  #a, #r {
    width: 42px;
  }
  #a {
    left: 13px;
  }
  #r {
    right: 13px;
  }
  #main-nav {
    align-self: stretch;
    text-align: left;
  }
  ul {
    padding-left: 20px;
    padding-bottom: 5px;
  }
  #main-nav li {
    padding-top: 5px;
  }
  .article {
    margin: 0 1%;
  }
  footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .contact-icons {
    margin: 10px;
  }
  #main-footer h5,
  #main-footer p {
    margin: 10px 0 10px 10px;
  }
  h1,h4 {
    text-align: center;
  }
  #about h1 {
    text-align: center;
  }
  #welcome-words {
    font-size: 2em;
  }
  p,
  .article li {
     font-size: 14px;
   }

}
