body {
  margin: 0;
  background-color: #f1f1f1;
  color: #333;
  font: normal 16px/1.2 "Book Antiqua", "Times New Roman", serif;
}

/*--- Основные секции ---*/
header {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#main-page {
  margin: 0 2%;
}
footer {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
/*--- Логотип ---*/
#logo {
  /*background-color: #008000;*/
  width: 50px;
  height: 50px;
  font-size: 24px;
  padding: 5px;
  text-align: center;
  border-radius: 50%;
  flex: 0 1 60px;

}
#a {
  background-color: #ffff00;
  color: #000;
  font: normal 1.1em/2  "Book Antiqua", "Times New Roman", serif;

}
#r {
  background-color: #0000ff;
  font: normal 1.1em/2  "Book Antiqua", "Times New Roman", serif;
}

/*--- Шрифты ---*/
h1 {
  margin: 0;
  text-align: center;
  flex: 1 1 20%;
}
#my-name {
  font: italic 500 2em/2 "Gabriola", "Monotype Corsiva", "cursive";
}
h4 {
  font: 300 0.9em/1.2 serif;

}
h4:hover {
  color: #ffff00;
}

#real-purpose {
  text-decoration: line-through;
}
/*--- Навигация и списки ---*/
#main-nav {
  flex: 1 1 auto;
}
ul {
  margin: 0;
}
#main-nav li {
  list-style: none;
  display: inline;
  padding: 0 1%;
}
